@font-face {
  font-family: pixel;
  src: url(pixelFont.ttf);
}

body, html {
    font-family: 'pixel', monospace;
      margin: 0;
      padding: 0;
      background-color: #000;
      color: #fff;
    height: 100%;

    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  
  img {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0rem;
    z-index: 3;
    pointer-events:none;
    background:none !important;
  }
  .container {
    display: flex;
    height: 100%;
    
  }
  
  .sidebarEmpty {
    position: relative;
    left: 0rem;
    top: 3rem;
    width: 95%; /* 1/4th of the container */
    overflow-y: auto; /* Enable vertical scrollbar */
    background-color: clear;
    font-size: 36px;
    color: gray;
    pointer-events: none;
    z-index: 1;
  }
  
  .sidebar {
    width: 25%; /* 1/4th of the container */
    position: absolute;
    overflow-y: auto; /* Enable vertical scrollbar */
    font-size: 36px;
    left: 0rem;
    top: 3rem;
    z-index: 2;
  }

  
  .main-content {
    width: 100%; /* 3/4th of the container */
  }
  
  ul {
    list-style-type: none;
    
  }
  
  li {
    padding:.5rem;
    padding-left: 3rem;
  }
  a:link {
    background-color: clear;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}
/*
  a:hover {
    color: green;
    transition: all 1s ease;
  }
  */
  
  /* Move non-visited links to the right */
   li a:not(link) {
    color: black;
    background-color: clear;
 /* Adjust the left margin as needed */
  }
  
  li a:visited {
    color: white;
    text-decoration: underline;
    background-color: black;
    padding: 0px;
  }
  
  .sidebar ul li a:active {
    color: blue;
  }
